<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
</head>

<body>
    <div class="container">
        <table>
            <thead class="header" style="background-color:{{color}}, color={{color}}">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Full Name</th>
                </tr>
            </thead>
            <tbody>
                {%for users in users%}
                <tr>
                    <td>{{users['first_name']}}</td>
                    <td>{{users['last_name']}}</td>
                    <td>{{users['first_name']}} {{users['last_name']}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>

    <style>
        .header {
            background-color: gray;
            color: yellow;
        }

        * {
            text-align: center;
            padding: -2px;
            margin: -2px;
            height: 50px;
        }

        .container {
            display: flex;
            justify-content: center;
        }
    </style>
</body>

</html>